recursive-include classifiers/data/label_binarizer *
recursive-include classifiers/data/trained_classifier *
recursive-include classifiers/data/text_topics *
recursive-include classifiers/data/keyword_selection_classifier *